<div class="grid grid-cols-2 gap-4">
      <div class="pr-4">
        <input class="input m-2" type="search"
               name="search" placeholder="Search tasks..."
               hx-post="/search"
               hx-trigger="input changed delay:200ms, keyup[key=='Enter'], load"
               hx-target="#search-results">

        <div id="search-results"></div>
      </div>
      <div class="" id="detail-summary"></div>
</div>
