<div class="grid grid-cols-5 gap-4">
      <div class="pr-4 col-span-2">
        <input class="input m-2" type="search" autofocus
               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
               name="search" placeholder="Search tasks..."
               id="task-search-input"
               hx-post="/search"
               hx-trigger="input changed delay:200ms, load"
               hx-target="#search-results">

        <div id="search-results"></div>
      </div>
      <div class="col-span-3" id="detail-summary"></div>
</div>
