<nav hx-swap-oob="true" id="top-nav" class="flex h-14 w-full items-center gap-2 px-4">
    <a class="" hx-get="/tasks" hx-target="#content">tasks</a>
    <a class="active" hx-get="/projects" hx-target="#content">projects</a>
    <a class="" hx-get="/sources" hx-target="#content">sources</a>
</nav>
<div class="grid grid-cols-1 gap-4">
  <div id="projects-main" class="pr-4">
    <input class="input m-2" type="search"
           autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
           name="search" placeholder="Search projects..."
           hx-post="/searchProjects"
           hx-trigger="input changed delay:200ms, keyup[key=='Enter'], load"
           hx-target="#search-results">

    <div id="search-results"></div>
  </div>
</div>
