
<table class="table">
<tbody>
{{#projects}}
  <tr>
    <td>{{ groupId }} {{ artifactId }}</td>
    <td>{{ relativePath }}</td>
    <td style="text-wrap-mode: wrap;">{{ searchText }}</td>
    <td>{{ type }}</td>
  </tr>
{{/projects}}
</tbody>
</table>

{{^projects}}
<div>No projects found</div>
{{/projects}}
