<div id="detail-summary" class="card p-1" hx-swap-oob="true">
  <div class="card-body p-2">
      <h4 class="card-title">{{ first.displayName }}</h4>
      {{#action}}
        <div class="text-right p-2">
          <a class="btn btn-sm btn-primary" hx-post="/task/run/{{ action.id }}" hx-target="#action-result">Run Task</a>
        </div>
        <div id="action-result"></div>
      {{/action}}
      <p>{{ first.description }}</p>
      <div>{{{ first.preview }}}</div>
  </div>
</div>

<table class="table">
<tbody>
{{#tasks}}
  <tr>
    <td style="text-wrap-mode: wrap;">{{ displayName }}</td>
    <td>{{ type }}</td>
  </tr>
{{/tasks}}
</tbody>
</table>
