
<table class="table">
<tbody>
{{#projects}}
  <tr>
    <td style="text-wrap-mode: wrap;">{{ groupId }} {{ artifactId }}</td>
    <td>{{ type }}</td>
  </tr>
{{/projects}}
</tbody>
</table>

{{^projects}}
<div>No projects found</div>
{{/projects}}
