<nav hx-swap-oob="true" id="top-nav" class="flex h-14 w-full items-center gap-2 px-4">
    <a class="" hx-get="/tasks" hx-target="#content">tasks</a>
    <a class="" hx-get="/projects" hx-target="#content">projects</a>
    <a class="active" hx-get="/sources" hx-target="#content">sources</a>
</nav>

<div class="grid grid-cols-1 gap-4">

  {{> fragments/task-source-list }}
  {{> fragments/project-source-list }}

</div>
