<nav hx-swap-oob="true" id="top-nav" class="flex h-14 w-full items-center gap-2 px-4">
    <a class="" hx-get="/tasks" hx-target="#content">tasks</a>
    <a class="" hx-get="/projects" hx-target="#content">projects</a>
    <a class="active" hx-get="/sources" hx-target="#content">sources</a>
</nav>

<div class="grid grid-cols-1 gap-4">
      <div class="pr-4">
        <input class="input m-2" type="search"
               name="search" placeholder="Search sources..."
               hx-post="/searchSources"
               hx-trigger="input changed delay:200ms, keyup[key=='Enter'], load"
               hx-target="#search-results">

        <div id="search-results">
          <table class="table">
          <tbody>
          {{#sources}}
            <tr>
              <td style="text-wrap-mode: wrap;">{{ name }}</td>
              <td>{{ type }}</td>
            </tr>
          {{/sources}}
          </tbody>
          </table>
        </div>
      </div>

</div>
