<div class="grid grid-cols-2 gap-4">

      <div class="pr-4">
        <input class="input m-2" type="search"
               name="search" placeholder="Search tasks..."
               id="task-search-input"
               hx-post="/search"
               hx-trigger="input changed delay:200ms, keyup[key=='Enter']"
               hx-target="#search-results"
               ">

        <div id="search-results">
          <table class="table">
          <tbody>
          {{#tasks}}
            <tr>
              <td style="text-wrap-mode: wrap;">{{ displayName }}</td>
              <td>{{ type }}</td>
            </tr>
          {{/tasks}}
          </tbody>
          </table>
        </div>
      </div>

      <div id="detail-summary" class="card p-1">
          <div class="card-body">
              <h4 class="card-title">{{ first.displayName }}</h4>
              <p>{{ first.description }}</p>
              <div>{{{ first.preview }}}</div>
          </div>
        </div>
      </div>
</div>
