{{<fragments/layout}}
  {{$body}}

<div hx-get="/initial" hx-trigger="load">
  <img alt="loading..." class="htmx-indicator" width="150" src="/static/bars.svg"/>
</div>
  {{/body}}
{{/fragments/layout}}
