.plan-container {
  height: 700px;
}
#app {
    border: 3px solid black;
    height: 700px;
}
#detail-summary h3 {
  font-size: calc(0.8rem + 0.6vw);
}
#detail-summary h4,h5 {
  font-size: calc(0.7rem + 0.6vw);
}
#detail-summary h1,h2 {
  font-size: calc(0.9rem + 0.6vw);
}

.btn-secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
}
nav#top-nav a {
  color: var(--color-foreground);
  border-bottom: 3px solid var(--color-background);
  cursor: pointer;
  margin-right: 1rem;
}
nav#top-nav a:hover {
  color: var(--color-amber-900); !important;
  border-bottom: 3px solid var(--color-green-600);
}

nav#top-nav a.active {
  border-bottom: 3px solid var(--color-green-600);
  cursor: default;
}
nav#top-nav a.active :hover {
  border-bottom: 3px solid var(--color-green-600);
}

