<section id="active-context" class="p-4">
{{#context}}
<div class="card p-2 border-gray-300 bg-amber-50">
  <h4>Active Context</h4>
  <p>name: {{ context.name }} </p>
  <p>path: {{ context.path }} </p>
</div>
{{/context}}
</section>
