<section id="active-context">
{{#context}}
<div class="card p-2 border-b border-gray-300 bg-gray-100 p-3">
  <h4>Active Context</h4>
  <p>name: {{ context.name }} </p>
  <p>path: {{ context.path }} </p>
</div>
{{/context}}
</section>
